h1,
h2,
h3,
h4,
h5,
h6,
[class^="ant-"],
#normal_login_password::placeholder {
    font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#normal_login_password {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    letter-spacing: 0.1em;
}

html body {
    margin: 0;
    overflow: hidden;
}

.home-layout {
    background-color: white;
}

[class^="ant-"] pre code,
[class^="ant-"] code {
    font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

@media (prefers-color-scheme: dark) {

    h1,
    p {
        color: white;
    }

    html body {
        background-color: rgb(20, 20, 20);
    }

    .home-layout {
        background-color: rgb(20, 20, 20);
    }
}